@model WebApplication2.Models.Contact

<h2>Детали записи</h2>

<div>
    <h4>ID: @Model.Id</h4>
    <p>Фамилия: @Model.LastName</p>
    <p>Имя: @Model.FirstName</p>
    <p>Отчество: @Model.MiddleName</p>
    <p>Номер телефона: @Model.PhoneNumber</p>
    <p>Адрес: @Model.Address</p>
    <p>Описание: @Model.Description</p>
</div>